@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*----header----*/
header {
  width: 100%;
  padding: 40px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-text {
  color: #000;
  font-size: 32px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 170%;
}

.logo-icon {
  width: 45px;
  height: 21px;
  margin: -28px 0px 0px 55px;
}

.page-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-navigation__item-link {
  color: #333;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 140%;
  display: inline-block;
  white-space: nowrap;
}
.page-navigation__item {
  margin: 0px 37px;
}

/*----main----*/
.button-link {
  display: inline-block;
  font-family: Poppins;
  padding: 14px 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  color: #FFF;
}
.button-link--b {
  background-color: #2C3878;
  color: #FFF;
}
.button-link--w {
  color: black;
  background-color: #FFF;
  border: 1px solid #3C3C3C;
}

.regular-f {
  color: #9C9C9C;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.semibold-f {
  margin: 20px 0px;
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 170%;
}

.medium {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
}

.line {
  width: 50%;
  height: 3px;
  background-color: black;
}

/*----content----**/
.content {
  width: 100%;
  padding: 0px 120px;
}

/*----ourteams----*/
.ourteams {
  text-align: center;
  margin: 20px 0px 80px 0px;
}
.ourteams__title {
  font-family: Poppins;
  font-size: 56px;
  font-weight: 700;
  line-height: 140%;
}
.ourteams__text {
  color: #000;
  margin: 35px 0px 80px 0px;
}

/*----designer----*/
.designer-top__line {
  margin: -14px 0px 0px 90px;
}
.designer-top__text {
  margin: 40px 0px 0px 0px;
}
.designer-bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.designer-bottom-row-autor {
  width: 282px;
  height: 400px;
  background-color: #2C3878;
}
.designer-bottom-row-autor__image {
  z-index: 2;
  position: absolute;
}
.designer-bottom-row-autor-body {
  padding: 18px 16px;
  background-color: #FFF;
  z-index: 3;
}
.designer-bottom-row-autor-body__title {
  font-size: 24px;
}
.designer-bottom-row-autor-body__text {
  text-transform: uppercase;
}

/*----service----*/
.service-top__line {
  margin: -14px 0px 0px 75px;
}
.service-bottom {
  margin: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.service-bottom-column {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 20px;
}
.service-bottom-column__title {
  font-size: 24px;
}
/*----contact us----*/
.contact-us {
  margin: 40px 0px;
  background-color: #2C3878;
  padding: 38px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-us__title {
  color: #FFF;
}
.contact-us__text {
  color: #FFF;
  margin: 0px 0px 40px 0px;
}

/*----footer----*/
.footer-body {
  padding: 80px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-form__point {
  margin: 0px 0px 0px 0px;
}
.footer-form__text {
  color: #333;
  margin: -22px 0px 0px 30px;
}
.footer-form__input {
  width: 450px;
  padding: 15px 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  border-bottom: 1px solid #000;
  margin: 0px 0px 0px 0px;
}
.footer-form__arrow {
  margin: 20px 0px 0px -40px;
}

.footer-soc-net {
  margin: 40px 0px 0px 0px;
}
.footer-soc-net__title {
  color: #000;
}
.footer-soc-net-app {
  margin: 20px 0px 0px 0px;
}
.footer-soc-net-app__link {
  margin: 0px 10px;
}
.footer-soc-net-app__link img {
  padding: 4px;
  background-color: #D9D9D9;
  border-radius: 50%;
}