// Обнуление
@import "../scss/nullstyle.scss";



// header
@import "../scss/headerstyle.scss";
// Основные положения 
@import "../scss/main.scss";

/*----content----**/
.content{
    width: 100%;
    padding: 0px 120px;
    
}
/*----ourteams----*/
.ourteams {
	text-align: center;
	margin: 20px 0px 80px 0px;
	&__title {
		font-family: Poppins;
		font-size: 56px;
		font-weight: 700;
		line-height: 140%;
	}

	&__text {
		color: #000;
		margin: 35px 0px 80px 0px;
	}
}
/*----designer----*/
.designer {
	&-top {
		&__line {
			margin:-14px 0px 0px 90px;
		}
		&__text {
			margin: 40px 0px 0px 0px;
		}
	}
	&-bottom {
		&-row {
			display:flex;
			flex-direction: row;
			&-autor {
				width: 282px;
				height: 400px;
				background-color: #2C3878;
				&__image{
					z-index: 2;
					position:absolute;
				}
				&-body {
					padding:18px 16px;
					background-color: #FFF;
					z-index: 3;
					&__title {
						font-size: 24px;
					}
					&__text {
						text-transform: uppercase;
					}
			}
			}
		}
	}
}
/*----service----*/
.service {
	&-top {
		&__line {
			margin:-14px 0px 0px 75px;
		}
	}
	&-bottom{
		margin: 40px;
		display:flex;
		flex-direction: row;
		&-column {
			text-align: center;
			border: 1px solid rgba(0, 0, 0, 0.10);
			padding: 30px;
			margin: 20px;
			&__image {
			}
	
			&__title {
				font-size: 24px;
			}
	
			&__text {
			}
		}
	}
}
/*----contact us----*/
.contact-us {
	margin: 40px 0px;
	background-color: #2C3878;
	padding:38px 120px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	&__title {
		color:#FFF;
	}

	&__column {
	}

	&__text {
		color:#FFF;
		margin: 0px 0px 40px 0px;
	}
}
//footer
@import "../scss/footersyle.scss";